<!DOCTYPE html>
<html>
    <!--Things in the head are not visible to the user-->
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <title>IA Project</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel= "stylesheet" type= text/css href = "../static/Style.css">
       <!-- #PageTitle is the words that are next to the tabs at the top-->
    </head>
    <!--Things in the body are seen by the user-->
    <body>
        <header>
            <div class= "topHeader"> <!--Header seen by the user-->
                <p> Materials Reservation System</p>
            </div>
            <nav>
                <ul>
                    <li> <a href= "/"> Home</a> </button></li>  
                    <li> <a href= "/database"> Database </a></li>
                </ul>
            </nav>
        </header>
<div class= "container">
    <h1> Data Analysis</h1>
    <form action = "/dataSummary" method= "post" class = "searchForm"> <!--Creates a search function that requires the post method-->
    <select class="form-select searchField" aria-label="Default select example" name = "dataFilter" required > <!--Selection for search 
                                                                                                        fields for differnet qualities-->
        <option value = "">Select quality</option>
        <option value="teacherUsername">TeacherUsername</option>
        <option value="equipmentName">EquipmentName</option>
        <option value="category">Category</option>
        <option value="propertyType">PropertyType</option>
    </select>    
    <select class="form-select searchField" aria-label="Default select example" name = "yAxisFilter" required > <!--Search field selection 
                                                                                                                types -->
        <option value = "">Select filter</option>
        <option value="1">Averages</option>
        <option value="2">Min</option>
        <option value="3">Max</option>
        <option value="4">Total Count</option>
    </select>  
        <button type = "submit" class = "btn btn-primary"> Submit </button> <!--After the user presses submit, the selections from above will 
                                                                            enter into dataSummary function in app.py-->
    </form>
    {% if dataAnalysisList != "" %} <!--Checks whether the database has values after submission -->
    <table class = "adminTable"> <!-- Creates a table -->
     <tr>
        <th>Category</th> 
        <th>Average quantity</th>
        <th>Minimum quantity</th>
        <th>Maximum quantity</th>
        <th>Total count</th>
    </tr>
    {% for item in dataAnalysisList %}
<!-- item[1] has table "equipment" with multiple qualities (id, name, quantity etc) and item[2], item[3], item[4], and item[5] have 
    singular qualities ()-->
    <tr>
        <td>{{item[0]}}</td> <!-- Accesses the category of equipment -->
        <td>{{item[1]}}</td> <!-- Accesses the average quantity of equipment -->
        <td>{{item[3]}}</td> <!-- Accesses the minimum quantity of equipment -->
        <td>{{item[2]}}</td> <!-- Accesses the maximum quantity of equipment -->
        <td>{{item[4]}}</td> <!-- Accesses the total count of equipment -->
    </tr>
    {% endfor %}
</table>
<div>
    <img src = {{url}} alt = "" width = "800" height = "auto">
</div>
{% else %} <!-- If there is no information passed on from the datatable, then this creates a message to say that the search is empty-->
<div class = "alert alert-danger">
    <h4> Empty Table, select a filter</h4>
</div>
{% endif %}
</div>
</body>
</html>