<!DOCTYPE html>
<html>
    <!--Things in the head are not visible to the user-->
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <title>IA Project</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel= "stylesheet" type= text/css href = "../static/Style.css">
       <!-- #PageTitle is the words that are next to the tabs at the top-->
    </head>
    <!--Things in the body are seen by the user-->
    <body>
        <header>
        <div class= "topHeader">
            <p> Materials Reservation System</p>
        </div>
        <nav>
            <ul>
                <li> <a href= "/"> Home</a> </button></li>  
                <li> <a href= "/database"> Database </a></li>
            </ul>
            <div>
                <span> Welcome, {{user}} </span>
                <a href= "/logout"> Logout</a>
            </div>
        </nav>
        </header>
        <div class= "container">
            <img class = "myImage" src ="http://getdrawings.com/cliparts/science-lab-equipment-clipart-24.png" width="200", height= "200",>
            <h1> Materials Reservation System </h1>
            <button class = "btn btn-primary"> <a href = "/requests"> Requests</a> </button>
            <button class = "btn btn-primary"> <a href = "/dataAnalysis"> Data Analysis</a> </button>
            <br>
        </div>
       
    </body>
</html>