<!DOCTYPE html>
<html>
    <!--Things in the head are not visible to the user-->
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <title>IA Project</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel= "stylesheet" type= text/css href = "../static/Style.css">
       <!-- #PageTitle is the words that are next to the tabs at the top-->
    </head>
    <!--Things in the body are seen by the user-->
    <body>
        <header>
            <div class= "topHeader">
                <p> Materials Reservation System</p>
            </div>
            <nav>
                <ul>
                    <li> <a href= "/"> Home</a> </button></li>  
                </ul>
            </nav>
        </header>
<div class= "container">
    <h1> Requested Equipment</h1>
    <form action = "/searchRequest" method="post" class = "searchForm"> 
        <input type = "search" name = "searchName" class = "form-control rounded searchField" placeholder = "Search by name" required>
        <button type = "submit" class = "btn btn-primary"> Submit </button>
    </form>
    {% if list != "" %}
    <table class = "adminTable"> <!-- Creates a table -->
     <tr>
        <th>Name</th>
        <th>Location</th> 
        <th>Category</th>
        <th>Property Type</th>
        <th>Requested Quantity</th>
        <th>Status</th>
        <th>Action</th>
    </tr>

      {% for item in list %}
<!-- item[1] has equipment table with qualities (id, name, quantity etc) and item[2] has status-->
    <tr>
        <td>{{item[1][1]}}</td> <!-- Accesses the name of equipment -->
        <td>{{item[1][4]}}</td> <!-- Accessese the availableQuantity of equipment -->
        <td>{{item[1][5]}}</td> <!-- Accesses the totalQuantity of equipment-->
        <td>{{item[1][6]}}</td> <!-- Accesses the location of equipment -->
        <td>{{item[3]}}</td> <!-- Accesses the category of equipment -->
        <td>{{item[2]}}</td> <!-- Accesses the property of equipment -->
<!--item[2] doesn't have a second dimention, because item[2] only contains a list of status 
On the other hand, item[1] has many other qualities (id, name, quantity etc), which makes it have a rank of 2-->
        <td>
            {% if item[2] == "Request Approved" %}
                <form action ="/returnEquipment/{{item[0]}}" method = "POST">
                <!-- Utilizes the returnEquipment method listed in app.py with parameter ID of equipment -->
                <button class = "btn btn-warning"> Return Equipment</button>    
                </form>
        </td>
            {% endif %}
    </tr>
    {% endfor %}
</table>
{% else %}
<div class = "alert alert-danger">
    <h4> No existing equipment</h4>
</div>
{% endif %}

</div>
</body>  
</html>