<form>
    <p>
        <input class= "form-control" type ="text" name = "equipmentName" placeholder= "Name" required>
    </p>
    <p>
        <input class = "form-control" type= "text" name = "equpimentQuantity" placeholder= "Quantity" required>
    </p>
    <p>
        <input class= "form-control" type ="text" name = "equipmentLocation" placeholder= "Location" required>
    </p>
    <select class="form-select" aria-label="Default select example" required >
        <option value = "">Select Science category</option>
        <option value="biology">Biology</option>
        <option value="physics">Physics</option>
        <option value="chemistry">Chemistry</option>
    </select>
    <p>
    <input class ="btn btn-primary" type = "submit">
    </p>
</form>