<!DOCTYPE html>
<html>
    <!--Things in the head are not visible to the user-->
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <title>IA Project</title>
        <link rel= "stylesheet" href = "../static/Style.css">
       <!-- #PageTitle is the words that are next to the tabs at the top-->
    </head>
    
    <!--Things in the body are seen by the user-->
    <body>
    <body>
        <header>
        <div class= "topHeader">
            <p> Materials Reservation System</p>
        </div>
        <nav>
            <ul>
                <li> <a href= "/"> Home</a> </button></li>  
                <li> <a href= "/database"> Database </a></li>
                <li> <a href ="/requests"> Request</a></li>
                <li> <a href = "/report"> Report </a></li>  
                <li> <a href = "#">Systems Maintanance </a></li>
            </ul>
        </nav>
        </header>
        <h1> Delete Room</h1:>
        <form>
            <select class="form-select" aria-label="Default select example" required >
                <option value = "">Select Science category</option>
                <option value="biology">Biology</option>
                <option value="physics">Physics</option>
                <option value="chemistry">Chemistry</option>
            </select>
            <p>
                <input class = "form-control" type= "text" name = "roomName" id = "roomName" placeholder= "New Room Name" required>
            </p>
            <p>
            <input class ="btn btn-primary" type = "delete">
            </p>
        </form> 
    </body>
</html>